.background{
    position: relative;
}
.red{
    height: 80px;
    background: #333333; 
  background: -webkit-linear-gradient(to right, #333333, #dd1818); 
  background: linear-gradient(to right, #333333, 40%, #dd1818); 
  border: 10px solid black;
}
.navig{
    display: flex;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 15px;
    margin-left: 5px;
    justify-content: space-between;
    position: relative;
}
.utlogo{
    height: 2.5rem;
    width: auto;
}
.title{
    padding-top: 15px;
    color: white;
    text-align: end;
    font-family: 'Comme', sans-serif;
}
.ethan{
    display: block;
    height: 500px;
}
.textcont{
    background: #333333; 
    background: linear-gradient(to right bottom, #333333, 20%, #dd1818); 
    border: 10px solid black;
    display: flex;
    height: 84%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.titlewp{
    border: 5px solid cornflowerblue;
    color: yellow;
    letter-spacing: 3px;
    height: 50px;
    font-family: 'Comme', sans-serif;    

}
.parraf1{
    color: white;
    height: 50px;
    font-family: 'Comme', sans-serif;
}
.parraf2{
    color: white;
    height: 50px;
    font-family: 'Comme', sans-serif;
}
.may{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin:0;
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    border: 10px solid black;
}
form h3{
    color: aliceblue;
}
form input{
    
    background-color: aliceblue;
    text-align: center;
    align-items: center;
    width: 300px;
    box-shadow: -3px 6px 4px #222;

}
.dawn{
    display: block;
    gap: 10px;
    text-align: left;
    margin:0;
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    border: 10px solid black;
}
infodisp p{
    color: aliceblue;
}
.btnom{
    height: 50px;
    border-radius: 10px;
    background-color: white;
}
.ul{
    list-style: none;
    width: 400px;
    padding-right: 20px;
}
ul li{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    grid-template-rows: 0.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    width: 90%;
    background: linear-gradient(to right, #434343, #000000);
    color: yellow;
    height: 100%;
    line-height: 40px;
    padding: 0 5px;
    position: relative;
    margin: 5px 0;
    box-shadow: -3px 6px 4px #222;
    border:4px solid blue;
}
@media screen and (max-width: 500px) {
    ul li{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
        grid-template-rows: 0.5fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
        width: 90%;
        background-color: aliceblue;
        height: 100%;
        line-height: 40px;
        padding: 0 5px;
        position: relative;
        margin: 5px 0;
        box-shadow: -3px 6px 4px #222;
        border:4px solid blue;
    }
}